body {
    font-family: sans-serif;
    font-weight: normal;
    background-color: lightsteelblue;
}

h1 {
    font-weight: bold;
    font-size: medium;
}

.center {
    text-align: center;
}

.hints {
    color: red;
    font-style: italic;
}

#menu {
    width: 500px;
    height: 300px;
    margin: auto;
    border-spacing: 100px 30px;
    table-layout: fixed;
}

#menu td {
    width: 250px;
    border: 5px solid midnightblue;
    border-radius: 15px 15px;
    background-color: darkolivegreen;
    text-align: center;
    padding: 20px 20px;
}

#menu td a {
    color: ghostwhite;
    white-space: nowrap;
    font-weight: bold;
    text-align: center;
    cursor: hand;
}

#bankinfo {
    width: 50%;
}

#bankinfo td {
    width: 200px;
    border-bottom: 1px solid #EEE;
    padding: 5px 30px;
}

#bankinfo th {
    border-bottom: 1px solid #EEE;
    font-weight: bold;
    text-align: left;
    padding: 5px;
}

#bankinfo .clients td {
    border-bottom: 0px;
    text-align: left;
    color: #7B68EE;
    font-size: small;
    padding: 0px 3px;
    text-decoration: underline;
}

.valueField {
    text-align: left;
    font-weight: bold;
    font-family: sans-serif;
}

.city {
    font-weight: bold;
    vertical-align: top;
    text-align: left;
    color: #4682B4;
}

#searchingResults {
    width: 50%;
}

#searchingResults th {
    border: 1px solid #AAA;
    font-weight:bold;
    background-color: #DDD;
    padding: 3px;
    text-align: left;
}

#searchingResults td {
    border: 1px solid #AAA;
    font-weight: normal;
    padding: 3px;
}

#searchingResults .client {
    color: #7B68EE;
    text-decoration: underline;
}

#addclient td {
    padding: 0px 30px;
}

